<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Staytard Receipt</title>
  </head>
  <body
    style='
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      color: #282828;
    '
  >
    <div style='max-width: 690px; margin: 0 auto; padding: 0 1rem'>
      <div>
        <a rel='noopener' href={{frontEndUrl}} style='text-decoration: none'>
          <h1
            style='
              color: #282828;
              text-align: center;
              text-transform: uppercase;
              font-weight: bold;
              padding: 1rem;
              margin: 0;
              font-size: 3rem;
            '
          >
            Staytard
          </h1>
        </a>
        <div>
          <!-- card -->
          <div
            style='
              background-color: white;
              text-align: center;
              padding: 2rem;
              margin: 0 0 1.5rem 0;
            '
          >
            <div>
              <span style='color: #282828;'>Hi {{user.firstName}}</span>
              <h2
                style='font-size: 1.25rem; font-weight: 500; margin: 0.5rem 0; color: #282828;'
              >
                Thanks for your order!
              </h2>
            </div>
            <p
              style='padding: 0.5rem 2rem; line-height: 1.5rem; color: #282828;'
            >
              We understand that you are eager for your new purchase and as soon
              as it is packed and ready to be sent, you will receive a delivery
              note from us. Your order is delivered with climate-compensated
              shipping!
            </p>
          </div>
          <!-- card -->
          <div
            style='
              background-color: white;
              text-align: center;
              padding: 2rem;
              margin: 0 0 1.5rem 0;
            '
          >
            <div>
              <img
                src='https://s3-eu-west-1.amazonaws.com/ellosgroupassets/stayhard/icons/icon-package.png'
                alt='Order package'
                style='margin: 0 auto; width: 4rem; height: 4rem'
              />
              <h3
                style='font-weight: bold; padding-top: 1rem; color: #282828;'
              >Your order</h3>
            </div>
            <!-- order details -->
            <div
              style='
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding: 1.5rem 0;
              '
            >
              <!-- order number -->
              <table style='padding: 0; margin: 0; width: 100%'>
                <tbody>
                  <tr>
                    <td
                      align='left'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                        color: #767676;
                      '
                    >
                      Order number:
                    </td>
                    <td
                      align='right'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                      '
                    >
                      {{order.orderNumber}}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align='left'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                        color: #767676;
                      '
                    >
                      Order date:
                    </td>
                    <td
                      align='right'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                      '
                    >
                      {{orderCreationDate}}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align='left'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                        color: #767676;
                      '
                    >
                      Payment method:
                    </td>
                    <td
                      align='right'
                      style='
                        margin: 0;
                        padding: 0;
                        font-size: 0.875rem;
                        line-height: 1.7rem;
                      '
                    >
                      {{paymentMethod}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- order status link -->
            <a
              href='{{frontEndUrl}}/my-orders'
              rel='noopener'
              target='_blank'
              style='text-decoration: none'
            >
              <div
                style='
                  width: 100%;
                  text-transform: uppercase;
                  background-color: black;
                  color: white;
                  padding: 1.25rem 0;
                  font-size: 0.875rem;
                  font-weight: bold;
                  letter-spacing: 0.15em;
                '
              >
                See order status
              </div>
            </a>
            <!-- billing address -->
            <div
              style='
                padding: 0.75rem;
                margin-top: 1.5rem;
                text-align: left;
                font-size: 0.875rem;
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: #282828;
                
              '
            >
              <div style='font-weight: bold'>Billing address</div>
              <div
                style='line-height: 1.5rem; padding-top: 0.75rem; color:#282828'
              >
                <div>{{user.firstName}} {{user.lastName}}</div>
                <div>{{order.deliveryAddress}}</div>
                <div>{{order.postalCode}} {{order.city}}</div>
              </div>
            </div>
          </div>
          <!-- order items -->
          <div
            style='
              background-color: white;
              text-align: center;
              padding: 2rem;
              margin: 0 0 1.5rem 0;
            '
          >
            <div style='text-align: left'>
              <h4
                style='font-weight: bold; margin: 0; font-size: 1rem; color:#282828'
              >
                The order contains
              </h4>
              <div style='color: #282828;'>
                <!-- order item -->
                {{#each orderLines}}
                  <div
                    style='
                    font-size: 0.875rem;
                    display: flex;
                    width: 100%;
                    padding: 1.25rem 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  '
                  >
                    <img
                      style='width: 93px; height: 145px; object-fit: contain'
                      alt='{{this.brandName}} - {{this.name}}'
                      src='{{this.imageUrl}}'
                    />
                    <div style='width: 100%; margin-left: 2rem'>
                      <div style='line-height: 1.2rem'>
                        <div
                          style='
                          letter-spacing: 0.15em;
                          text-transform: uppercase;
                          font-size: 11px;
                          font-weight: 600;
                          color: #666666;
                        '
                        >
                          {{this.brandName}}
                        </div>
                        <a href="{{../frontEndUrl}}/product/{{this.productId}}" target="_blank" rel="noopener" style='font-weight: bold; color: #282828; text-decoration: none;'>
                          {{this.name}}
                        </a>
                        <div style='color: #282828;'>{{this.size}}
                          |
                          {{this.color}}</div>
                      </div>

                      <!-- //! quantity and price  -->
                      <table
                        style='width: 100%; margin: 0.5rem 0 0 0; padding: 0'
                      >
                        <tbody style='margin: 0; padding: 0'>
                          <tr style='margin: 0; padding: 0'>
                            <td
                              valign='bottom'
                              align='left'
                              style='font-weight: bold; margin: 0; padding: 0; color: #282828;'
                            >
                              Number:
                              <span
                                style='font-weight: 500; color: #282828;'
                              >{{this.quantity}}</span>
                            </td>
                            <td align='right'>
                              {{#if this.hasDiscount}}
                                <del
                                  style='color: #282828;'
                                >{{this.originalPrice}}
                                  {{../purchaseCurrency}}</del>
                                <span
                                  style='
                                display: block;
                                color: #dc2626;
                                font-weight: bold;
                              '
                                >{{this.currentPrice}}
                                  {{../purchaseCurrency}}</span>
                              {{/if}}
                              {{#unless this.hasDiscount}}
                              <span
                                style='
                                display: block;
                                color:#282828;
                                font-weight: bold;
                              '
                              >{{this.currentPrice}}
                                {{../purchaseCurrency}}</span>
                              {{/unless}}
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          <!-- total costs -->
          <div
            style='
              background-color: white;
              text-align: center;
              padding: 2rem;
              margin: 0 0 1.5rem 0;
            '
          >
            <table style='padding: 0; margin: 0; width: 100%'>
              <tbody>
                <tr>
                  <td
                    align='left'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 0.875rem;
                      line-height: 1.7rem;
                      color: #767676;
                    '
                  >
                    Products
                  </td>
                  <td
                    align='right'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 0.875rem;
                      line-height: 1.7rem;
                      color: #282828;
                    '
                  >
                    {{order.totalAmount}}
                    {{purchaseCurrency}}
                  </td>
                </tr>
                <tr>
                  <td
                    align='left'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 0.875rem;
                      line-height: 1.7rem;
                      color: #767676;
                    '
                  >
                    Shipping cost
                  </td>
                  <td
                    align='right'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 0.875rem;
                      line-height: 1.7rem;
                      color: #282828;
                    '
                  >
                    {{order.shippingCost}}
                    {{purchaseCurrency}}
                  </td>
                </tr>
                <tr>
                  <td
                    align='left'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 18px;
                      line-height: 1.7rem;
                      font-weight: bold;
                      color: #282828;
                    '
                  >
                    Total amount
                  </td>
                  <td
                    align='right'
                    style='
                      margin: 0;
                      padding: 0;
                      font-size: 18px;
                      line-height: 1.7rem;
                      font-weight: bold;
                      color: #282828;
                    '
                  >
                    {{grandTotal}}
                    {{purchaseCurrency}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- customer service -->
          <div
            style='
              background-color: white;
              text-align: center;
              padding: 2rem;
              margin: 0 0 1.5rem 0;
            '
          >
            <div>
              <img
                src='https://s3-eu-west-1.amazonaws.com/ellosgroupassets/stayhard/icons/icon-question-mark.png'
                alt='Black question mark with a circle around it'
                style='width: 3rem; height: 3rem; object-fit: contain'
              />
              <h5
                style='
                  font-weight: bold;
                  padding-top: 0.25rem;
                  font-size: 1rem;
                  margin: 0.5rem 0 1rem 0;
                      color: #282828;

                '
              >
                Do you have questions?
              </h5>
              <p
                style='
                  padding-top: 0.75rem;
                  padding-bottom: 1.5rem;
                  font-size: 0.875rem;
                      color: #282828;

                '
              >
                In our FAQ you will find the answers to the most common
                questions. Here is also information on how you can most easily
                contact us.
              </p>
              <div
                style='
                  padding-top: 1.5rem;
                  border-top: 1px solid rgba(0, 0, 0, 0.1);
                  font-size: 0.875rem;
                '
              >
                <a
                  href={{frontEndUrl}}
                  target='_blank'
                  rel='noopener'
                  style='
                    text-align: center;
                    text-decoration: none;
                    color: #282828;
                  '
                >
                  <span>Customer service</span>
                  <img
                    src='https://s3-eu-west-1.amazonaws.com/ellosgroupassets/stayhard/icons/icon-arrow.png'
                    alt='Arrow right'
                    style='width: 0.8rem; height: 0.8rem; margin: 0 0.2rem'
                  />
                </a>
              </div>
            </div>
          </div>
          <!-- footer -->
          <div style='text-align: center; font-size: 0.875rem'>
            <a
              href='{{frontEndUrl}}/my-orders'
              target='_blank'
              rel='noopener'
              style='
                display: block;
                padding-bottom: 1.5rem;
                padding-top: 0.5rem;
                text-decoration: none;
                color: #282828;
              '
            >
              My orders</a>
            <div
              style='
                font-size: 12px;
                text-align: center;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding: 2rem 0;
              '
            >
              <div
                style='
                      color: #282828;

              '
              >Staytard AB, 501 86 Milky Way, org. no: 556713-1337</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>